<section id="Information_section">
    <h2 class="text-center">Some Information section</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        in voluptate velits esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>
<section id="Lists_section">
    <h2 class="text-center"> Some lists</h2>
    <ul class="row list-unstyled  text-center">
        <li class="col-lg-4 col-md-4 col-sm-12">
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-12">
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-12">
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
    </ul>
</section>
