<section id="Todolist_section" ng-controller="TodolistController as vm">
    <h3 class="text-center">Welcome {{vm.user.login}}
        <small><a ng-click="vm.logOut()">Logout</a></small>
    </h3>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="80%">Title</th>
            <th width="5%">Finish</th>
            <th width="5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.tasks">
            <td class="text-center">
                <input class="form-control" type="text" ng-model="task.title"
                       ng-change="vm.saveTask(task)" ng-model-options="{debounce: 1000}">
            </td>
            <td class="text-center">
                <a>
                    <span ng-if="task.complete" class="fa fa-check-square fa-2x" aria-hidden="true"
                          ng-click="task.complete=false; vm.saveTask(task)"></span>

                    <span ng-if="!task.complete" class="fa fa-square fa-2x" aria-hidden="true"
                          ng-click="task.complete=true; vm.saveTask(task)"></span>
                </a>
            </td>
            <td class="text-center">
                <a>
                    <span class="fa fa-times fa-2x" aria-hidden="true" ng-click="vm.deleteTask(task)"></span>
                </a>
            </td>
        </tr>
        <tr class="text-center">
            <td colspan="3">
                <a>
                    <span ng-click="vm.addTask()" class=" fa fa-plus-circle fa-3x" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <pre> Tasks {{vm.tasks | json}}</pre>
</section>