<section id="Login_section" ng-controller="RegistrationController as vm">
    <h3 class="text-center">Registration</h3>
    <form ng-submit="vm.reg()">
        <div class="form-group text-center">
            <label for="login"> Login
                <input type="text" name="login" id="login" placeholder="Login" ng-model="vm.user.login"
                       ng-required="true" class="form-control">
            </label>
            <label for="password"> Password
                <input type="password" name="password" id="password" placeholder="Password" ng-model="vm.user.password"
                        ng-required="true" class="form-control">
            </label>
        </div>

        <div class="form-group text-center">
            <button type="submit" ng-disabled="vm.form.$submitted" class="btn btn-primary">Send</button>
        </div>
    </form>

    <pre> User {{vm.user | json}}</pre>
</section>